*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#ffffff;
    color:#222;
}

header{
    background:#0057b8;
    color:white;
    padding:20px;
}

.container{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
}

.hero{
    background:#eaf3ff;
    text-align:center;
    padding:80px 20px;
}

.hero h2{
    color:#0057b8;
    font-size:3rem;
}

section{
    padding:60px 20px;
}

.cards{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}

.card{
    flex:1;
    min-width:250px;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.1);
}

button{
    background:#0057b8;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#003d82;
}
